.byebug_history
.DS_Store

.bloop
.metals
*metals.sbt
*session.vim

.vscode
.tool-versions

.claude/todos/
.claude/shell-snapshots/
.claude/statsig/
.claude/projects/

# This is for local secrets within the dotfile repo
.localsecrets
